<div id="events">
	<div class="container">
		<center><h1>Events</h1>
		<div class="row">
				<div class="date col l6 s6">
					<center><h2>Monday<br><small>4th April</small>
					</h2></center>
					<div class="event row">
						<div class="time col s4 ">
							2pm - 4pm : 
						</div>
						<div class="name col s8">
							Nitrogen Ice-Cream Social
						</div>
						<div class="org col offset-s4 s8">
							By Materials Research Society (MRS)
						</div>
						<div class="location col offset-s4 s8">
							@ TBD
						</div>
					</div>
					<div class="event row">
						<div class="time col s4">
							4pm - 6pm : 
						</div>
						<div class="name col s8">
							Soda Boats
						</div>
						<div class="org col offset-s4 s8">
							By American Institude of Chemical Engineers (AIChE)
						</div>
						<div class="location col offset-s4 s8">
							@ Court of Sciences
						</div>
					</div>
					<div class="event row">
						<div class="time col s4">
							7pm - 9pm : 
						</div>
						<div class="name col s8">
							Speaker Event
						</div>
						<div class="org col offset-s4 s8">
							By Engineering Society of UCLA (ESUC)
						</div>
						<div class="location col offset-s4 s8">
							@ Bruin Viewpoint
						</div>
					</div>
				</div>
				<div class="date col l6 s6">
					<center><h2>Tuesday<br><small>5th April</small>
					</h2></center>
					<div class="event row">
						<div class="time col s4">
							1pm - 3pm : 
						</div>
						<div class="name col s8">
							ACM - Event
						</div>
						<div class="org col offset-s4 s8">
							By Association of Computing Machinery (ACM)
						</div>
						<div class="location col offset-s4 s8">
							@ The ACM Clubhouse
						</div>
					</div>
					<div class="event row">
						<div class="time col s4">
							3pm - 5pm : 
						</div>
						<div class="name col s8">
							Coding Challenge
						</div>
						<div class="org col offset-s4 s8">
							By Upsilon Pi Epsilon
						</div>
						<div class="location col offset-s4 s8">
							@ Boelter 4760
						</div>
					</div>
					<div class="event row">
						<div class="time col s5">
							5:30 - 9:30pm: 
						</div>
						<div class="name col s7">
							Ultimate Frisbee Tournament
						</div>
						<div class="org col offset-s5 s7">
							By American Society of Civil Engineers
						</div>
						<div class="location col offset-s5 s7">
							@ The Intramural Fields
						</div>
					</div>
				</div>
				<div class="date col l6 s6">
					<center><h2>Wednesday<br><small>6th April</small>
					</h2></center>
					<div class="event row">
						<div class="time col s5">
							11am - 2pm: *
						</div>
						<div class="name col s7">
							Company Networking Event
						</div>
						<div class="org col offset-s5 s7">
							By Engineering Society of UCLA (ESUC)
						</div>
						<div class="location col offset-s5 s7">
							@ TBD
						</div>
					</div>
					<div class="event row">
						<div class="time col s4">
							5pm - 9pm : 
						</div>
						<div class="name col s8">
							Alumni Event
						</div>
						<div class="org col offset-s4 s8">
							By Engineering Society of UCLA (ESUC)
						</div>
						<div class="location col offset-s4 s8">
							@ Strauss Club
						</div>
					</div>
				</div>
				<div class="date col l6 s6">
					<center><h2>Thursday<br><small>7th April</small>
					</h2></center>
					<div class="event row">
						<div class="time col s4">
							8am - 1pm : 
						</div>
						<div class="name col s8">
							Kids' Day
						</div>
						<div class="org col offset-s4 s8">
							By Engineering Society of UCLA (ESUC)
						</div>
						<div class="location col offset-s4 s8">
							@ M10B Pauley Pavilion
						</div>
					</div>
					<div class="event row">
						<div class="time col s4">
							2pm - 4pm : 
						</div>
						<div class="name col s8">
							Scavenger Hunt
						</div>
						<div class="org col offset-s4 s8">
							By American Institude of Chemical Engineers (AIChE)
						</div>
						<div class="location col offset-s4 s8">
							@ Court of Sciences
						</div>
					</div>
					<div class="event row">
						<div class="time col s4">
							5pm - 8pm : 
						</div>
						<div class="name col s8">
							Ben Horowitz
						</div>
						<div class="org col offset-s4 s8">
							By Engineering Society of UCLA (ESUC)
						</div>
						<div class="location col offset-s4 s8">
							@ TBD
						</div>
					</div>
				</div>
				<div class="date col offset-s3 offset-l3 l6 s6">
					<center><h2>Friday<br><small>8th April</small>
					</h2></center>
					<div class="event row">
						<div class="time col s4">
							2pm - 4pm : 
						</div>
						<div class="name col s8">
							Super Smash Tournament
						</div>
						<div class="org col offset-s4 s8">
							By Institude of Electrical and Electronics Engineers (IEEE)
						</div>
						<div class="location col offset-s4 s8">
							@ SCC 2730
						</div>
					</div>
					<div class="event row">
						<div class="time col s4">
							4pm - 6pm: 
						</div>
						<div class="name col s8">
							Advocacy Game
						</div>
						<div class="org col offset-s4 s8">
							By The Society of Women Engineers (SWE)
						</div>
						<div class="location col offset-s4 s8">
						 @ TBD
						</div>
					</div>
					
					<div class="event row">
						<div class="time col s5">
							7pm - 10pm : 
						</div>
						<div class="name col s7">
							Talent Show
						</div>
						<div class="org col offset-s5 s7">
							By Engineering Society of UCLA (ESUC)
						</div>
						<div class="location col offset-s5 s7">
							@ Fowler
						</div>
					</div>
				</div>
		</div>
	</div>
</div>