<!DOCTYPE html>
<head>
	<title>Engineers Week by ESUC</title>
	<link rel="stylesheet" href="css/plane-animation.css" type='text/css'>
	<link rel="stylesheet" href="css/cog-animation.css" type='text/css'>
	 <% include partials/dependencies %>
	  <link rel="stylesheet" href="css/index.css" type='text/css'>

</head>
<body>
	<% include partials/header %>
	<main>
	<% include landing %>
	
	</main>
	<% include partials/footer %>
</body>