<div id="landing">
	<div class="row">
		<!-- <div class="col s10 offset-s2 l5 offset-l1 m6 offset-m1 ">
			<div id="logo" class="">
				<img src='img/logo_blue_swish.png'/>
			</div>
			<h1 id="title" class="">
				Engineers Week
			</h1>
			<h2 id="dates" class="animated fadeIn">April 10th - 14th, 2017</h2>
		</div>
		<div class="col l3 hide-on-med-and-down animated fadeIn">
			<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="events">Events</a></li>
				<li><a href="sponsors">Sponsors</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
		</div> -->
		<!--<% include partials/paper-plane %>-->
		<div class="col l6 s12">
		<div class="row"><h1 id="title" class="center">
				Engineers Week
			</h1></div>
			
			<div class="row"><h2 id="dates" class="animated fadeIn center">UCLA / April 10th - 14th, 2017 / Powered by ESUC</h2></div>
		</div>
		<div class="cogs-wrapper col l6 s10 offset-s1">
			<div id="cog-large">
				<img src="img/gear3.png">
			</div>
			<div id="cog-medium">
				<img src="img/gear2.png">
			</div>
			<div id="cog-small">
				<img src="img/gear1.png">
			</div>
		</div>
	</div>
	<div class="row" >
		<ul class="">
				<li><a href="#about">About</a></li>
				<li><a href="#prizes">Prizes</a></li>
				<li><a href="events">Events</a></li>
				<li><a href="sponsors">Sponsors</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
	</center>
</div>